<% layout("./partials/boilerplate.ejs") %>
<div class="col-6 offset-3 m-3">
    <form action="/register " method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name = "username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="password" name="confirmPassword" class="form-control" placeholder="Conform Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <%- include("../partials/flash.ejs") %>
        <button class="btn btn-success">Register</button>
    </form>
</div>